body{
    margin: 0;
    padding: 0;
}
.part-1{
    margin-top: 2%;
    h3{
      font-weight: bold;
    }
    ul{
        list-style: none;
        li{
        float: left;
        margin-left: 9%;
            a{
                color: black;
                font-weight: 500;
                text-decoration: none;
                &:after {
                display:block;
                content: '';
                border-bottom: solid 2px #0c0c0c;  
                transform: scaleX(0);  
                transition: transform 450ms ease-in-out;
                }
                &:hover:after { 
                    transform: scaleX(1); 
                }
            }
        }
    }
    .btnn{
        background: #0b60af;  
        display: block;
        &::after{
            position: absolute;
            content: '';
            width: 0;
            height: 100%;
            background-color: rgb(15, 12, 12);
            transition: all 1s;
            opacity: 0.1;
            left: 0;
         
        }
        &:hover::after{
            width: 100%;
        }
        a{
            color: white;
            text-decoration: none;
        }
    }
}
.part-2{
    width: 100%;
    height: auto;
    background: rgb(101, 52, 192);
    padding: 10%;  
}
.part-2-1{
    .btnn{
        background-color: rgb(207, 207, 207);
        margin-top: 20%;
        border-radius: 20%/50%;
        margin-bottom: 3%;
        a{
            text-decoration: none;
        }
    }
    h1{
        color: white;
        margin-bottom: 3%;
    }
    p{
        color: white;
    }
}
.part-2-2{
    background: white;
    border-radius: 2%;
    padding: 2%;
    p{
    color: #0b60af;
    font-weight: 500;
    }
    input{
        border: 1px solid #ccc;
        height: 42px;
        border-radius: 5px;
        margin-bottom: 15px;
    }
    .btn{
        background: #0b60af;
        margin-top: 10px;
        a{
            text-decoration: none;
            color: white;
        }
    }
}
.part-3{
    background: white;
    width: 100%;
    height: auto;
    p{
        color: rgb(129, 129, 129);
        font-weight: bold;
        font-size: 15px;
        margin-top: 7%;
        margin-left: 70%;
    }
    .sites{
        margin-bottom: 5%;
        ul{
            list-style: none;
            li{
                float: left;
                margin-left: 5%;
                a{
                    text-decoration: none;
                    color:black;
                    font-size: 25px;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
.part-4{
    width: 100%;
    height: auto;
    background: rgb(231, 229, 229);
    padding: 7% 10%  7% 10%;
    .btnn{
        background: rgb(210, 185, 241);
        border-radius: 20%/50%;
        margin-bottom: 1%;
        a{
            color: rgb(101, 52, 192);
            text-decoration: none;
        }
    }
    .text-1{
        margin-bottom: 1%; 
    }
    .text-2{
        color: rgb(129, 129, 129);
        font-weight: 500;
        font-size: 20px;
        width: 50%;
        margin-bottom: 5%;
    }
    .four-boxs{
        .col-6{
            padding: 4%;
            width: 45%;
            height: 25%;
            background: #ffffff;
            margin-right: 5%;
            margin-bottom: 3%;
            box-shadow: 0px 0px 5px 5px rgb(168, 167, 167);
            &:hover{
                box-shadow: 0px 0px 5px 10px rgb(168, 167, 167);
            }
            .circle{
                height: 65px;
                width: 65px;
                background: #c9b8b8;
                margin-bottom: 5%;
            }
            p{
                color: rgb(175, 175, 175);
                font-weight: 400;
            }
        }
    }
    .get-start{
        margin-top: 10%;
        .col-one{
          h4{
            color:#0b60af ;
            }
            p{
                color: rgb(141, 141, 141);
                font-weight: 400;
                font-size: 20px;
            }  
        }
        .col-two{
           .btn{
            background:#0b60af;
            margin-right: 3%;
                a{
                    color: white;
                    text-decoration: none;
                    }
            }
            a{
                color: rgb(141, 141, 141);
                text-decoration: none;
            } 
        }
        
    }
   
}
.part-5{
    display: flex;
    float: left;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 7% 10%  7% 10%;
    .col-3,.col-2{
        display: flex;
        flex-direction: column;  
        margin-right: 3%;    
        .top-a{
            color: rgb(141, 141, 141);
            text-decoration: none;
            font-weight: 700;
            font-size: 20px;
            margin-bottom: 2%;
            &:hover{
                text-decoration: underline;
            }
        }
        .non-top{
            color: rgb(141, 141, 141);
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}
.part-6{
    padding: 7% 10%  7% 10%;
    .col-6{
        p{
            color:rgb(141, 141, 141); ;
        }
    }
}